@import "variables";

@import "../../vendor/jlong/sass-twitter-bootstrap/lib/mixins";
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/reset";

@import "../../vendor/jlong/sass-twitter-bootstrap/lib/scaffolding";
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/grid";
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/layouts";

@import "../../vendor/jlong/sass-twitter-bootstrap/lib/type";
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/buttons";

@import "../../vendor/jlong/sass-twitter-bootstrap/lib/navs";
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/navbar";

// Components: Misc
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/hero-unit";

// Utility classes
@import "../../vendor/jlong/sass-twitter-bootstrap/lib/utilities"; // Has to be last to override when necessary

@import "../../vendor/jlong/sass-twitter-bootstrap/lib/responsive";

%text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    border-top:#000000 5px solid;
    background:url(../img/main.jpg) center 0 repeat;
}

.img-border {
    border:#ebebec 4px solid;
    border-radius:12px;
}

h1, h2, h3 {
    font-family: "Oxygen",sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

h1 {
    font-size:34px;
    line-height:45px;
}

h2 {
    font-size:22px;
    line-height:30px;
}

h3 {
    font-size:18px;
    line-height:26px;
}

.hero-unit {
    padding: 0;
    background-color: transparent;

    .title {
        @extend h1;
        font-weight: bold;
    }

    .sub-title {
        @extend h2;
        font-style: italic;
        font-weight: normal;
    }
}

.navbar-inner {
    padding-left: 0;
}

.index-blocks .index-block > div {
    padding-left: 11px;
    padding-right: 11px;

    h2 {
        margin-left: 0.5em;
        font-size: 18px;
        font-weight: bold;
        height: 30px;
        @extend %text-overflow-hidden;

        a {
            color: $textColor;
        }
    }

    p {
        margin: 0.5em;
    }

    .btn {
        margin-left: 2em;
        font-size: 12px;
        font-weight: bold;
    }
}

.footer {
    background-color: #000;
    padding: 32px 0 45px 0;
    margin-top: 20px;

    .row-fluid {
        color: $grayLighter;

        > div.span3 {
            padding-left: 20px;
            padding-right: 20px;
            //width: ($gridColumnWidth * 3) + ($gridGutterWidth * (3 - 1)) - 40px;

            .name {
                font-weight: bold;
            }

            .copyright {
                font-style: italic;
            }

            dl {
                margin: 0;

                dt {
                    @extend p;
                    margin-bottom: 0em;
                }

                dd {
                    @extend p;
                    margin-left: 0.5em;
                }
            }

            a {
                color: $grayLighter;
            }

            ul.topics {
                a {
                    &:after {
                        content: ", ";
                    }

                    &.more {
                        font-style: italic;
                        &:after {
                            content: "";
                        }
                    }
                }
            }
        }

        .trade {
            text-align: center;
            font-style: italic;
            font-size: 90%;
            padding-left: 2em;
            padding-right: 2em;
        }

    }
}

@media (min-width: 767px) {
    .navbar {
        .brand {
            display: none;
        }
    }

    .index-blocks .index-block > div {
        p {
            font-size: 12px;
            height: 100px;
        }
    }
}